@page "{id:int?}"
@model MyScriptureJournal.Pages.Entries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entry.Id" />
            <div class="form-group">
                <label asp-for="Entry.dateAdded" class="control-label"></label>
                <input asp-for="Entry.dateAdded" class="form-control" />
                <span asp-validation-for="Entry.dateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Note" class="control-label"></label>
                <input asp-for="Entry.Note" class="form-control" />
                <span asp-validation-for="Entry.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Book" class="control-label"></label>
                <input asp-for="Entry.Book" class="form-control" />
                <span asp-validation-for="Entry.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
